<div class="background-form-login-sign-up">
  <div class="container-form-login">
  <h2>Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    label: false,
                    placeholder: "Email",
                    required: true,
                    autofocus: true,
                    input_html: { class: "placeholder-input", autocomplete: "email" } %>
      </div>

      <div class="form-actions">
      <%= f.button :submit, "Send reset password instructions", class: "btn-form-password-reset" %>
      </div>
        <% end %>
      <div class="link-sign-up-forgot-password">
      <%= render "devise/shared/links" %>
      </div>
  </div>
</div>

