<h1>Plant species : <%=  @plant.species %></h1>
<h2>Price : <%= @plant.price_per_day / 100 %> € / day</h2>
<p><%= @plant.description %></p>

<h2>Location : <%= @plant.city_location %></h2>


<%= image_tag ("#{@plant.main_picture}") %>

