<div class="plant-show">
  <div class="plant-details">
        <div class="plant-main-infos">
            <h1><%=  @plant.species %></h1>
            <h3><%= @plant.full_address %></h3>
            <h3 class="card-price-per-day"> <%= (@plant.price_per_day) / 100 %>€/day</h3>
        </div>
        <p><%= @plant.description %></p>
        <div class="plant-owner">
          <div class="owner-picture" style="background-image: url('<%= cl_image_path @owner.profile_picture, height: 80, :crop => :thumb, :gravity => :face %>')" >
          </div>
          <div class="owner-details">
            <ul>
              <li class="owner-name"><%= @owner.first_name%> <%= @owner.last_name %></li>
              <li><i class="fas fa-phone"></i> <%= @owner.phone_number %></li>
              <li><i class="fas fa-at"></i> <%= @owner.email %></li>
            </ul>
          </div>
        </div>
  </div>
  <div class="plant-picture" style="background-image: url('<%= cl_image_path @plant.main_picture, crop: :fill %>')">
    <div class="booking-card">
      <h2>Book this plant ?</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>

