<div class="background-form-login-sign-up">
  <div class="container-form-login">
  <h2>Hello, you can log in here</h2>
  <%= simple_form_for(resource, as: resource_name, url: plants_path) do |f| %>
    <div class="form-inputs-login">
      <%= f.input :email,
                  label: false,
                  placeholder: "Email",
                  required: false,
                  autofocus: true,
                  input_html: { class: "placeholder-input",autocomplete: "email" } %>
      <%= f.input :password,
                  label: false,
                  placeholder: "Password",
                  required: false,
                  input_html: { class: "placeholder-input",autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "LOG IN", class: "btn-form-login" %>
    </div>
  <% end %>
    <div class="link-sign-up-forgot-password">
    <%= render "devise/shared/links" %>
    </div>
  </div>
  </div>
</div>
